#body_ppal {
  font-family: 'Montserrat', sans-serif;
  background-color: #ebdddd;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* COMIENZO INDEX----- */
/* NAV */
.encabezado {
  top: 0px;
  margin: 0;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar {
  max-width: 100%;
  padding: 15px;
}

.navbar .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  margin: 10px;
}

.navbar .nav-link:hover {
  font-weight: bold;
}

/* SLIDER */
.header_slider {
  max-height: 39rem;
}

/* -------------- SECCION 1/ SOBRE NOTROSOS ------------ */
.about-us {
  height: 100vh;
  background-color: pink;
}

.about-back-img {
  background-image: url(../img/cafeshop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 575.98px) {
  .about-title {
    text-align: center;
    font-size: 2rem;
  }
}

.about-text {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  text-align: justify;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 575.98px) {
  .about-text {
    width: 100%;
    font-size: 0.9rem;
  }
}

/*--------- FIN SECCION 1 / SOBRE NOSOTROS-------- */
/* ----TESTIMONIOS----- */
.testimonios {
  background-color: #333232;
  color: white;
  text-align: center;
  padding: 20px;
}

.testimonios_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonios_contenedor div {
  margin: 20px;
}

.testimonios_contenedor i {
  width: 20px;
  height: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonios_contenedor p {
  font-size: 20px;
  text-align: center;
}

.testimonios_contenedor img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 7px solid #ffff;
}

@media (min-width: 480px) {
  .testimonios_contenedor div {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .testimonios_contenedor div {
    width: auto;
  }
}

/* FIN SECCION 2 TESTIMONIOS------------------------ */
/* ------------------------------------------------- */
/* SECCION 3/ NUESTROS PRODUCTOS--------------------- */
/* ------------------------------------------------- */
.menu-semanal {
  height: 100vh;
  background-color: #FFFFF9;
  position: relative;
}

.menu-back-img {
  background-image: url(../img/index1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #DFB900;
  padding: 1rem;
}

@media (max-width: 575.98px) {
  .menu-title {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #4E4804;
}

@media (max-width: 575.98px) {
  h5 {
    font-size: 0.7rem;
  }
}

.div-plato {
  width: 100%;
  margin: auto;
}

.plato-description {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 575.98px) {
  .plato-description {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.plato-price {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4E4B04;
}

@media (max-width: 575.98px) {
  .plato-price {
    font-size: 0.7rem;
  }
}

.price-select {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* -- FIN SECTION 3/ NUESTROS PRODUCTOS */
/* SECTION 4  */
.section4 h2 {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.section4 hr {
  margin: 20px auto;
  width: 50px;
  border-width: 1px;
}

.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.20s;
  transition: all 0.20s;
}

.container .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.container .card p {
  padding: 0 1rem;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #608b60;
}

/* ----FOOTER COMUN DE TODAS LAS PAGINAS-- */
#footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5858), to(#9c9c9c));
  background-image: linear-gradient(#5c5858, #9c9c9c);
  padding: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.footer_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 10px 0px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.footer_grid h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

@media (max-width: 786px) {
  .footer_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    padding: 5px 0px;
    background-image: cover;
  }
}

@media (max-width: 786px) {
  #footer {
    height: 100vh;
  }
}

@media (max-width: 786px) {
  h4 {
    font-size: 0.9rem;
  }
}

#footer p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer .footer_menu, .footer_menu--icon {
  list-style: none;
  text-align: center;
}

#footer .footer_menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#footer .footer_menu--icon li {
  display: inline-block;
  padding: 0,5rem;
}

#footer .boton {
  color: #d8d843;
}

/* ---------------------------------------- */
/* ------ESTILOS DE LAS PAGINAS INTERNAS--- */
/* ---------------------------------------- */
/*  -----PAGINA PRODUCTOS---- */
/* GRILLA------------------------------ */
/*  PRODUCTOS / EXPERIENCIAS/ CAFE -----*/
#grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "main" "footer";
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 100px 150px auto 300px;
      grid-template-rows: 100px 150px auto 300px;
}

#nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

#main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

#footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

/* FIN GRID */
/* HEADER COMUN DE TODAS LAS PAGINAS */
header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  display: -ms-grid;
  display: grid;
  width: 400px;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_div {
  width: 100%;
  color: black;
  padding: 10px;
  text-align: center;
}

header .header_title {
  font-family: "Libre Barcode 39 Text", cursive;
  font-weight: 100;
  font-size: 4rem;
  margin: 15px 0;
}

/* PAGINA PRODUCTO */
.producto img:hover {
  opacity: 0.8;
}

.detalle_producto {
  font-size: 20px;
  color: black;
}

.producto {
  border-bottom: 1px solid pink;
  margin-bottom: 2rem;
}

.texto {
  color: darkgray;
  font-weight: bold;
  font-size: 18px;
}

.btn_producto {
  color: white;
  text-align: center;
  background: darkgrey;
  border: none;
  padding: 1rem 5rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.btn_producto:hover {
  background: black;
}

/* PAGINA SOBRE NOSOTROS---- */
.sobrenosotros__main {
  text-align: center;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.sobrenosotros__main h2 {
  font-size: 30px;
  color: #de423a;
}

.sobrenosotros__main p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 0;
  font-size: 20px;
}

.sobrenosotros__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  margin-bottom: 80px;
}

.sobrenosotros__img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.sobrenosotros__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #de423a;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .sobrenosotros__title .sobrenosotros__title {
    font-size: 2.5em;
  }
}

.sobrenosotros__txt {
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

@media (max-width: 432px) {
  .sobrenosotros__img {
    height: 10vh;
  }
}

@media (max-width: 768px) {
  .sobrenosotros__img {
    height: 20vh;
  }
}

@media (max-width: 992px) {
  .sobrenosotros__img {
    height: 30vh;
  }
}

@media (max-width: 1024px) {
  .sobrenosotros__img {
    height: 40vh;
  }
}

/* CONTACTO */
.formulario_body {
  background-image: url(../img/contacto.jpeg);
  background-size: 100vw 100vh;
  margin: 0;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.formulario_contacto {
  width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px  20px;
  margin-top: 30px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.formulario_contacto p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

.formulario_contacto h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 2em;
  margin-bottom: 25px;
}

.formulario_contacto input {
  width: 100%;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formulario_menu textarea {
  width: 100%;
  margin-bottom: 25px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
  border: none;
}

.formulario_menu textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.formulario_checkbox {
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.formulario_checkbox h2 {
  margin-right: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

.formulario_checkbox input {
  border: solid 1px;
  width: 50%;
}

.formulario_botones input {
  margin-top: 20px;
  background-color: rgba(99, 88, 94, 0.859);
  color: white;
  padding: 8px;
  border: #655d61;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

@media (max-width: 480px) {
  #formulario {
    width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */